* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
}

body {
    background-color: hsl(216, 12%, 8%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    color: white;
}

.card {
    display: flex;
    background-color:hsl(213, 19%, 18%);
    width: 400px;
    flex-direction: column;
    border-radius: 10px;
    padding: 50px;
    gap: 20px;
}

.card p {
    color:hsl(217, 12%, 63%) ;
}


#submit {
    appearance: none;
    border: none;
    height: 40px;
    border-radius:25px;
    background-color: hsl(25, 97%, 53%);
    color: white;
    cursor: pointer;
}

#submit:hover {
    color: hsl(25, 97%, 53%);
    background-color: white;
}


.circle {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: hsl(216, 12%, 30%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 200ms;
    cursor: pointer;
}

.circle:hover {
    background-color: hsl(25, 97%, 53%); 
}

.score-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.box {
    padding: 8px 0;
    width: 70%;
    text-align: center;
    border-radius: 15px;
    background-color: hsl(216, 12%, 30%);
}

.box p {
    color: hsl(25, 97%, 53%); 
}

.card h2 {
    text-align: center;
}

.thank-you-img {
    display: flex;
    justify-content: center;
}

.thankyou-paragraph {
    text-align: center;
  }

#thankYouId {
    align-items: center;
}  

.active {
   background-color: hsl(217, 12%, 63%);
}

@media screen and (max-width: 500px) {
    html,body {
        overflow: hidden;
    }
    .circle {
        width: 35px;
        height: 35px;
    }
    .card {
        width: 325px;
    }
}




  
  
  




